* {margin: 0; padding: 0;}
body {width:70%; margin: auto; background-image:url('creampaper.png'); background-color: #eee; font-size:1.4em;}
a, a:hover {color: #000; text-decoration: none; border-bottom: 1px dotted #000;}

header {margin-top: 60px; margin-bottom:40px;}
header h1 {font-family: 'EB Garamond', serif; font-size: 3em; font-weight: 800;}
header h1#title {padding: 5px; position: absolute; top: 10px; left: 15px; color:#fff; background-color:#000; font-size: 1em;}
header h1#title a {color:#fff;}

article header {margin-bottom: 0px;}
article header h1 {font-family: 'EB Garamond', serif; font-size: 3em; font-weight: 800;}
article header p {color: #008989; font-family: Arial, sans; font-size: .6em; font-weight: 800; text-transform: uppercase;}

article h1 {font-family: 'EB Garamond', serif; font-size: 1.7em;}
article p, blockquote {padding-bottom: 20px; font-family: Cardo, serif; line-height: 30px;}
article li {margin-left: 20px;}
article blockquote {font-style: italic;}
article aside.quote {width: 30%; float: right; color: #d54e21; font-family: Cardo, serif; font-size: 1.4em; font-weight: 800; font-style: italic; line-height: 40px;}
article aside.quote:before {content: '\201C';}
article aside.quote:after {content: '\201D';}
article img.floatRight {margin:10px; float:right;}
article img.floatLeft {margin:10px; float:left;}
article .footnotes li {font-size: .7em;}
article .footnotes p {padding-bottom: 0px;}

aside {width:40%; float:right;}