* {margin: 0; padding: 0;}
body {width:70%; margin: auto; margin-top: 60px; background-image:url('creampaper.png'); background-color: #eee; font-size:1.4em;}
a, a:hover {color: #000; text-decoration: none; border-bottom: 1px dotted #000;}

header {margin-bottom:40px;}
header h1 {font-family: 'EB Garamond', serif; font-size: 3em; font-weight: 800;}
header h1#title {padding: 5px; position: absolute; top: 10px; left: 15px; color:#fff; background-color:#000; font-size: 1em;}
header h1#title a {color:#fff;}

article header {margin-bottom: 0px;}
article header h1 {font-family: 'EB Garamond', serif; font-size: 3em; font-weight: 800;}
article header p {color: #008989; font-family: Arial, sans-serif; font-size: .6em; font-weight: 800; text-transform: uppercase;}

article h1 {font-family: 'EB Garamond', serif; font-size: 1.7em;}
article p, blockquote, li {font-family: Cardo, serif; line-height: 30px;}
article p, blockquote {margin-bottom: 20px;}
article li {margin-left: 20px;}
article blockquote {margin-left: 15px; font-style: italic;}
article aside.quote {width: 30%; float: right; color: #d54e21; font-family: Cardo, serif; font-size: 1.4em; font-weight: 800; font-style: italic; line-height: 40px;}
article aside.quote:before {content: '\201C';}
article aside.quote:after {content: '\201D';}
article img.centerfold {display:block; margin-left:auto; margin-right:auto; max-width: 100%; height: auto; width: auto\9; /*for ie8 */ }
article img.floatRight {margin:10px; float:right;}
article img.floatLeft {margin:10px; float:left;}
article .footnotes li {font-size: .7em;}
article li p {margin-bottom: 0px;}

article.index header h1 {font-size:2em;}
article.type-aside {border-left: 4px solid #FF0000; padding-left: 5px;}

a.bloglink, a.extlink, a.filelink {background-repeat:no-repeat; background-position:0 center; padding:0 0 0 18px;}

a.bloglink {background-image:url('../images/icons/post.png');}
a.link-post {background-image:url('../images/icons/post.png');}
a.link-photo {background-image:url('../images/icons/photo.png');}
a.link-audio {background-image:url('../images/icons/music.png');}
a.link-video {background-image:url('../images/icons/video.png');}
a.link-link {background-image:url('../images/icons/link.png');}

a.extlink {background-image:url()}
a.ext-youtube {background-image:url("https://s.ytimg.com/yts/img/favicon-vfldLzJxy.ico")}
a.ext-wikipedia {background-image:url("../images/icons/wp.png");}
a.ext-twitter {background-image:url("https://abs.twimg.com/favicons/favicon.ico");}
a.ext-wolfram {background-image:url("http://www.wolframcdn.com/alphaFav.ico");}

a.filelink {background-image:url();}
a.file-pdf {background-image:url("../images/icons/pdf.png");}

aside {width:40%; float:right;}