# Files to ignore because of end-use
ignition.php
inc/templates_c/

# Files to ignore because of development
ignition.sublime-project
ignition.sublime-workspace

# Files to ignore because of licensing
lib/smarty/plugins/modifier.markdown.php